<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title v-text="ViewPointTitle"></title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script src="js/fontrem.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="wrapper" id="app">
			<div class="top_ban" v-if="isShowAd">
				<a href="http://sj.qq.com/myapp/detail.htm?apkName=com.jtlctv.yyl"><img src="img/top_adv.jpg"/></a>
				<div class="ad_close" @click="hideAd"></div>
			</div>
			<a href="http://sj.qq.com/myapp/detail.htm?apkName=com.jtlctv.yyl" class="fixed_ad">APP内打开</a>
			<div class="main">
				<h1 class="top_title" v-text="ViewPointTitle"></h1>
				<div class="top_other" v-text="Crtime"></div>
				<div class="content">
					<div class="video" @click="play">
						<div class="play_btn" v-if="isplayBtn"></div>
						<video :poster="'http://backlogin.tvlicai.com/manage/program/VideoPic/'+VideoScreen" :src='ViewPointUrl' id="video"></video>
					</div>
				</div>
				<div class="footer">
					<div class="footer_state">(文章内容仅代表个人观点，不构成投资建议。)</div>
					<img src="img/footer.jpg" />
				</div>
			</div>
		</div>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			function getQueryString(name) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
				var r = window.location.search.substr(1).match(reg);
				if(r != null) return unescape(r[2]);
				return null;
			}
			var app = new Vue({
				el: '#app',
				data: {
					ViewPointUrl: "",
					ViewPointTitle: "",
					ViewPointResume: "",
					Crtime: "",
					VideoScreen: "",
					isplayBtn: true,
					isShowAd: true
				},
				mounted: function() {
					var self = this;
					var id = getQueryString("id");
					var videoId = getQueryString("programId");
					this.$nextTick(function() {
						$.ajax({
							type: "GET",
							url: "http://backlogin.tvlicai.com/guzhang/LcViewPointDetailDate/"+id+"/"+videoId+"?jsoncallback=?",
							dataType: "jsonp",
							success: function(data) {
								console.log(data)
								self.Crtime = data.CrTime;
								self.ViewPointUrl = data.ViewPointUrl;
								self.ViewPointTitle = data.ViewPointTitle;
								self.ViewPointResume = data.ViewPointResume;
								self.VideoScreen = data.VideoScreen;
								document.title = self.ViewPointTitle;
							}
						});
					})
				},
				methods: {
					play: function(){
						var video = document.getElementById("video");
						video.play();
						video.setAttribute("controls",true);
						this.isplayBtn = false
					},
					hideAd: function(){
						this.isShowAd = false
					}
				}
			});
		</script>
	</body>

</html>