<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<script src="js/fontrem.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="wrapper" id="app">
			<div class="video" @click="play">
				<div class="play_btn" v-if="isplayBtn"></div>
				<video :poster="'http://backlogin.tvlicai.com/manage/program/VideoPic/'+VideoScreen" :src='ViewPointUrl' id="video"></video>
			</div>
			<div class="title" v-text="ViewPointTitle"></div>
			<div class="recommend">
				<div class="title">栏目介绍</div>
				<p v-text="ViewPointResume"></p>
			</div>
			<div class="news_list">
				<div class="title">往期回放</div>
				<ul>
					<li v-for="item in VideoRecList" @click="tokdDetail(item.Id,item.ProgramId)">
						<dl>
							<dt>
								<a href="javascript:;"><img :src="'http://backlogin.tvlicai.com/manage/program/VideoPic/'+item.VideoScreen"/></a>
							</dt>
							<dd><a href="javascript:;" v-text="item.VideoTitle"></a></dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			function getQueryString(name) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
				var r = window.location.search.substr(1).match(reg);
				if(r != null) return unescape(r[2]);
				return null;
			}
			var app = new Vue({
				el: '#app',
				data: {
					ViewPointUrl: "",
					ViewPointTitle: "",
					ViewPointResume: "",
					VideoScreen: "",
					VideoRecList: [],
					isplayBtn: true
				},
				mounted: function(){
					var self = this;
					var DateId = getQueryString("DateId");
					var ProgramId = getQueryString("ProgramId");
					this.$nextTick(function(){
						$.ajax({
							type: "GET",
							url: "http://backlogin.tvlicai.com/guzhang/LcSharePageDetailDateH5/"+DateId+"/"+ProgramId+"/10/1?jsoncallback=?",
							dataType: "jsonp",
							success: function(data) {
								console.log(data)
								self.ViewPointUrl = data.ViewPointUrl;
								self.ViewPointTitle = data.ViewPointTitle;
								self.ViewPointResume = data.ViewPointResume;
								self.VideoRecList = data.VideoRec;
								self.VideoScreen = data.VideoScreen;
								document.title = self.ViewPointTitle;
							}
						});
					})
				},
				methods: {
					tokdDetail:function(id,ProgramId){
						window.location.href = "kandian_details.html?id="+id+"&programId="+ProgramId+"";
					},
					play: function(){
						var video = document.getElementById("video");
						video.play();
						video.setAttribute("controls",true);
						this.isplayBtn = false
					}
				}
			});
		</script>
	</body>
</html>
